.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading-title {
        margin: 0;
        }
    .subtitle {
        margin: 0;
    }
}

